* {
    box-sizing: border-box;
}

:root {
    --text-color: #222336;
    --fill-color-1: #d16ba5;
    --fill-color-2: rgb(134, 168, 231);
    --fill-color-3: rgb(95, 251, 241);
}

html,body {
    margin: 0px;
    height: 100%;
}

body {
    color: var(--text-color);
    font-family: 'Cutive Mono', monospace;
    font-weight: normal;
    text-align: center;
    background-image: linear-gradient(to left bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0px;
    padding: 0px;
    height: 100%;

}

.content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0px;
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;

}

.item {
    display:flex;
    flex: 1;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 2.8px 2.8px 2.2px rgb(0 0 0 / 6%), 6.7px 6.7px 5.3px rgb(0 0 0 / 8%), 12.5px 12.5px 10px rgb(0 0 0 / 10%), 22.3px 22.3px 17.9px rgb(0 0 0 / 12%), 41.8px 41.8px 33.4px rgb(0 0 0 / 14%), 100px 100px 80px rgb(0 0 0 / 20%);
}

#today {
    background-color: var(--fill-color-1);
}

#tomorrow {
    background-color: var(--fill-color-2);
}

#dayafter {
    background-color: var(--fill-color-3);
}

h1 {
    font-size: 3em;
    margin: 5px;
    font-weight: bold;
}

h2 {
    font-size: 2.0em;
    margin: 5px;
}

h3 {
    font-size: 2.0em;
    margin: 5px;
}

h4, a {
    margin: 5px;
    margin-top: 10px;
}

/* smart */
@media screen and (max-width: 1400px) {
    body {
        font-size: 75%;
    }
}

/* mobil */
@media screen and (max-width: 1100px) {
    body {
        background-image: none;
        background-color: var(--text-color);
    }

    .content {
        flex-direction: column;
    }
}