* 
{
    box-sizing: border-box;
}

:root {
    --background-color: #161722;
    --text-color: #161722;
    --fill-color-1: #D16BA5;
    --fill-color-2: #86A8E7;
    --fill-color-3: #5FFBF1;
}

html,body
{
    margin: 0px;
    background-color: var(--background-color);
    font-family: 'Cutive Mono', monospace;
    font-weight: normal;
    text-align: center;
    height: 100%;

    background-image: linear-gradient(to left bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.page 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.content
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    padding: 0px;
    width: 90%;

    box-shadow: 0px 0px 50px var(--text-color);
}

.item
{
    display:flex;
    flex: 1;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    margin: 0px;
    padding: 20px;
}

#today
{
    background-color: var(--fill-color-1);
}

#tomorrow
{
    background-color: var(--fill-color-2);
}

#dayafter
{
    background-color: var(--fill-color-3);
}

.disclaimer
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

h1
{
    font-size: 3em;
    margin: 5px;
    font-weight: bold;
}

h2
{
    font-size: 2.0em;
    margin: 5px;
}

h3
{
    font-size: 2.0em;
    margin: 5px;
}

h4, a
{
    margin: 5px;
    color: var(--text-color);
    margin-top: 10px;
}


/* mobil */
@media screen and (max-width: 1000px) 
{
    body
    {
        font-size: 75%;
    }
    
    .page
    {
        flex-direction: row;
        align-items: flex-start;
    }

    .content
    {
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }

    .item
    {
        width: 100%;
    }

    #disclaimer
    {
        display: none;
    }
}